# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv
*.so

# Django
*.log
local_settings.py
db.sqlite3

# Docker
Dockerfile
docker-compose.yml

# IDE
.idea
.vscode
*.swp
*.swo

# Environment
.env
.env.local

# Media and Static files (will be mounted as volumes)
media/*
static/*

# Other
*.md
LICENSE
*.yml
!docker-compose.yml 